/*---MAIN----*/

/*---HOME----*/
.phrase{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    div{
        img{
            height: 300px;
            margin-bottom: 10px;
        }
    }
    h1{
        color: $color-primario;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
}
/*---Intro---*/
.intro {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            color: $color-secundario;
            font-size: 40px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            text-align: center;
            padding: 20px;
        }
        p{
            color: $color-secundario;
            font-size: 20px;
            font-family: 'Montserrat', sans-serif;
            text-align: justify;
            padding: 15px;
        }
        img{
            width: 100%;
            height: 100%;
        }
        a{
            width: 250px;
            text-decoration: none;
            color: $color-primario;
            background-color: $color-terciario;
            border-radius: 13px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            padding: 10px;
            text-align: center;
            align-self: center;
            transition-duration: 0.4s;
            &:hover{
                background-color: $color-primario;
                color: $color-terciario;
                border: 2px solid $color-terciario;
            }
        }
    }
}

/*---why colombia?--*/
.colombia{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
  "title   title" 
  "one         ."
  ".         two"
  "three       ."
  ".         four"
  "five       .";
  .title{
    grid-area: title;
    display: grid;
    place-items: center;
    h2{
        color: $color-secundario;
        font-size: 40px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        text-align: center;
        padding-bottom: 10px;
    }
  }  
  .one{
        grid-area: one;
        display: grid;
        place-items: start;
        border: 4px solid $color-terciario;
        border-radius: 16px;
        margin: 0 10px 10px 10px;
        display: flex;
        justify-content: start;
        align-items: center;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        animation: show 1s 3s ease forwards;
    }
    .two{
        grid-area: two;
        display: grid;
        place-items: start;
        border: 4px solid $color-terciario;
        border-radius: 16px;
        margin: 0 10px 10px 10px;
        display: flex;
        justify-content: start;
        align-items: center;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        animation: show 1s  4s ease forwards;
    }
    .three{
        grid-area: three;
        display: grid;
        place-items: center;
        border: 4px solid $color-terciario;
        border-radius: 16px;
        margin: 0 10px 10px 10px;
        display: flex;
        justify-content: start;
        align-items: center;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        animation: show 1s 5s ease forwards;
    }
    .four{
        grid-area: four;
        display: grid;
        place-items: start;
        border: 4px solid $color-terciario;
        border-radius: 16px;
        margin: 0 10px 10px 10px;
        display: flex;
        justify-content: start;
        align-items: center;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        animation: show 1s 6s ease forwards;
    }
    .five{
        grid-area: five;
        display: grid;
        place-items: center;
        border: 4px solid $color-terciario;
        border-radius: 16px;
        margin: 0 10px 10px 10px;
        display: flex;
        justify-content: start;
        align-items: center;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        animation: show 1s 7s ease forwards;
    }
    }
    p{
        color: $color-secundario;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 17px;
        text-align: justify;
        padding: 15px;
    }
    i{
        font-size: 40px;
    }




/*---ABOUT US---*/

.grid-team{
    margin: 5px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    .about{
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    h2{
        color: $color-secundario;
        border: 2px solid $color-secundario;
        border-radius: 16px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-align: center;
        margin: 5px ;
    }
    p2{
        color: $color-secundario;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        text-align: justify;
    }
    }
    .persons{
        width: 100%;
        height: 100%;
        background-image: url(../img/colombia.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
      ".      nicolas         ."
      "juan  valentina  ricardo"
      "juanjo     .      morena";
        .nicolas{
            grid-area: nicolas;
            display: grid;
            place-items: center;
        }
        .juan{
            grid-area: juan;
            display: grid;
            place-items: center;
        }
        .valentina{
            grid-area: valentina;
            display: grid;
            place-items: center;
        }
        .ricardo{
            grid-area: ricardo;
            display: grid;
            place-items: center;
        }
        .juanjo{
            grid-area: juanjo;
            display: grid;
            place-items: center;
        }
        .morena{
            grid-area: morena;
            display: grid;
            place-items: center;
        }
        img{
            width: auto;
            height: 150px;
        }
        h3{
            color: $color-primario;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            text-align: center;
        }
        p{
            color: $color-primario;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            text-align: center;
            margin: 5px ;
        }
    }
}

/*---CARRUSEL---*/
.carrusel{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    width: 100%;
    height: 100vh;
    background-image: url("../img/carrusel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    div{
        border-radius: 18px;
        width: 345px;
        height: 485px;
        margin: 20px;
        text-align: center;
        display: inline-block;
        img{
            width: 350px;
            height: 350px;
            border-radius: 14px;
        }
        h2{
            color: $color-primario;
            font-size: 19px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
        }
        h3{
            color: $color-primario;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            text-align: left;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
        p{
            color: $color-primario;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            text-align: justify;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
        }
        a{
            text-decoration: none;
            color: $color-terciario;
            background-color: $color-primario;
            border-radius: 13px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            padding: 5px;
            text-align: center;
        }
    }
}

/*---REVIEWS---*/

.reviews{
    width: 100%;
    height: 524px;
    background-color: $color-primario;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    h2{
        color: $color-secundario;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 35px;
        text-align: center;
        margin-top: 10px;
    }
    .comments{
        display: flex;
        justify-content: space-around;
        align-items: center;
      div{
        width: 350px;
        height: 330px;
        margin: 25px;
        text-align: center;
        display: inline-block;
        img{
            width: 200px;
            height: 200px;
            margin: 10px;
            border-radius: 16px;
        }
        h3{
            color: $color-secundario;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
        }
        p{
            color: $color-secundario;
            font-size: 13px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            text-align: justify;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
        }
      }
    }
}
/*----CONTACTO----*/
.container {
	background: linear-gradient(#000000cc,#000000cc), url(../img/contact.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	display: grid;
	grid-template-columns: repeat(2,50%);
	padding: 40px;
	height: 600px;
   .box-info {
	    color: $color-primario;
	    display: flex;
	    flex-direction: column;
	    gap: 50px;
	        & > h2 {
		        color: $color-primario;
		        font-family: 'Montserrat', sans-serif;
		        font-weight: 800;
		        font-size: 35px;
		        text-align: left;
		        letter-spacing: 5px;
	         }
             .data {
                display: flex;
                flex-direction: column;
                gap: 25px;
                & > p {
                    color: $color-primario;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    font-size: 1rem;
                    & > i {
                        color: $color-secundario;
                        margin-right: 10px;
                        font-size: 30px;
                    }
                }
            }
            .links {
                display: flex;
                img {
                    width: 150px;
                    height: auto;
                }
            }
        }
   form {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 15px;
	    & > button {
		     width: 100%;
		    padding: 10px;
		    outline: none;
		    background: $color-secundario;
		    color: $color-primario;
		    border: none;
		    transition: .1s;
		    cursor: pointer;
		    font-size: 1rem;
		    border-radius: 18px;
		    font-family: 'Montserrat', sans-serif;
		    font-weight: 400;
	    }
        .input-box {
            position: relative;
               & > input {
                width: 100%;
                height: 40px;
                padding: 0 10px;
                outline: none;
                background: #ffffff1a;
                border: 3px solid transparent;
                letter-spacing: 1px;
                transition: .3s;
                color: $color-primario;
                border-radius: 18px;
                &:focus {
                    & ~ i {
                        color: $color-secundario;
                    }
                }
            }
               & > textarea {
                width: 100%;
                height: 130px;
                padding: 10px;
                background: #ffffff1a;
                border: 3px solid transparent;
                letter-spacing: 1px;
                outline: none;
                transition: .3s;
                color: $color-primario;
                letter-spacing: 1.5px;
                border-radius: 18px;
            }
               & > i {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
                color: #ffffff4d;
                transition: .3s;
            }
        }
    }
.input-box > input::placeholder,
.input-box > textarea::placeholder {
	color: #a3a3a3;
}
.input-box > input:focus::placeholder,
.input-box > textarea:focus::placeholder {
	color: transparent;
}
.input-box > input:focus,
.input-box > textarea:focus {
	border-bottom: 3px solid $color-secundario;
	animation: shake .2s;
}
form > button:hover,
.links > a:hover {
	background: $color-secundario;
}
}


